$mainColor:#0437f2;
$secondColor:#000;
$whiteColor:#fff;
$whiteColor-2:#f0f0f0;
$grayColor:#848484;
$backgroundColor:#f0f9ff;
$backgroundColor-2:#fff;
$backgroundColor-3:rgb(255,0,0);
$backgroundColor-4:#e70e0e;;
$greenColor:rgb(0, 194, 32);
$shadow:0px 0px 8px rgb(175, 175, 175);
$shadow-2:rgba(149, 157, 165, 0.2) 0px 8px 24px;
$cardDetail:#333333;
$buttonHover:rgb(47, 99, 255);
$borderColor:#d6d4d4;
$courseTitle:rgb(17, 70, 155);

$fontFamilyPlasma: "plasma";
$fontFamilyYekanBakh: "yekanbakh";
$fontFamilyYekanbakhBold: "yekanbakh-bold";

$DisFlex:flex;
$DisInBlock:inline-block;
$DisNone:none;
$DisBlock:block;
$TextRight:right;
$TextCenter:center;
$TextLeft:left;
$TextJustify:justify;
$marginAuto:0px auto;

@font-face {
    font-family: "plasma";
    src: url("../font/PlasmaSquareDots-Bold.woff") format("woff"),
  }
@font-face {
    font-family: "yekanbakh";
    src: url("../font/YekanBakh-SemiBold.woff") format("woff"),
  }
@font-face {
    font-family: "yekanbakh-bold";
    src: url("../font/YekanBakh-ExtraBold.woff") format("woff"),
  }

@media all and (max-width: 767.999px) {
    .margin-404 {
      margin-top: 110px;
    }
    .green-txt {
      color: $greenColor;
      font-size: 20px;
    }
    .menu-top {
      position: fixed;
      background: $backgroundColor-2;
      z-index: 101;
      border-bottom: 0 !important;
    }
    .menu {
      padding: 10px 20px;
      position: fixed;
      background: $backgroundColor-2;
      z-index: 100;
      margin-top: 90px;
      box-shadow: $shadow;
    }
    .search {
      display: $DisNone;
    }
    .dis-non-mobile {
      display: $DisNone;
    }
    .nav-item {
      display: $DisNone;
    }
    .margin-top {
      margin-top: 90px;
    }
    .swiper-slide {
      text-align: $TextJustify;
    }
    .swiper-slide button {
      padding: 10px 20px;
    }
    h1 {
      margin-top: 40px;
      font-family: $fontFamilyPlasma;
      font-size: 36px;
    }
    .h3 {
      margin-top: 20px;
    }
    .developer img {
      display: $DisNone;
    }
    .mini-banner-margin img {
      margin: 20px 0px;
    }
    .comm-img img {
      width: 120px;
      height: 120px;
    }
    .comm-text h4 , .comm-text h6 {
      font-size: 16px;
    }
    .social i {
      margin: 0px 3px;
      padding: 5px;
      font-size: 14px;
    }
    .btn-ab {
      position: absolute;
      right: 305px;
      top: 5px;
    }
    .real input[type="email"] {
      font-size: 10px;
    }
    .td-bg {
      color: $mainColor;
      font-size: 35px;
    }
    .sev-item {
      margin: 35px;
    }
    .sev-item h6 {
      margin: 0px 7px;
      line-height: 23px;
      font-size: 14px;
    }
    .sev-item img {
      width: 25px;
    }
    .card-body {
      padding: 13px;
    }
    .margin-t {
      margin-top: 30px;
    }
    .course-link {
      text-decoration: none;
      color: $mainColor;
      font-family: $fontFamilyYekanBakh;
      font-size: 15px;
      margin-left: 10px;
    }
    .swiper {
      width: 100%;
      height: 320px;
    }
    .swiper-2 {
      width: 100%;
      height: auto;
      text-align: $TextCenter;
    }
    .swiper-3 {
      width: 100%;
      height: auto;
      padding-left: 13px !important;
      padding-right: 13px !important;
    }
    .swiper-4 {
      width: 100%;
      height: 640px;
      background: $mainColor;
      border-radius: 10px;
      margin-bottom: 100px;
      padding-left: 8px !important;
      padding-right: 8px !important;
    }
    .slide-size {
      width: 100% !important;
    }
    .card-detail p {
      padding: 0px 100px;
      text-align: $TextJustify;
      color: $cardDetail;
      }
  } 
@media all and (min-width:768px) and (max-width:1023.999px) {
    
    .margin-404 {
      margin-top: 140px;
    }
    .green-txt {
      color: $greenColor;
      font-size:14px;
    }
  
    .menu-top {
      position: fixed;
      background: $backgroundColor-2;
      z-index: 101;
    }
    .menu {
      padding: 10px 20px;
      position: fixed;
      background: $backgroundColor-2;
      height: 50px;
      z-index: 100;
      margin-top: 80px;
      box-shadow: $cardDetail;
    }
    .search {
      display: $DisBlock;
    }
    .dis-non-tablet {
      display: $DisNone;
    }
    .nav-item {
      display: $DisNone;
    }
    h1 {
      margin-top: 40px;
      text-align: $TextCenter;
      font-family: $fontFamilyPlasma;
      font-size: 40px;
    }
    .text-c {
      text-align: $TextCenter;
      margin-top: 20px;
    }
    .developer img {
      width: 450px;
      margin-right: 170px;
    }
    .comm-img img {
      width: 120px;
      height: 120px;
    }
    .comm-text h4 , .comm-text h6 {
      font-size: 16px;
    }
    .social i {
      margin: 0px 3px;
      padding: 5px;
      font-size: 14px;
    }
    .btn-ab {
      position: absolute;
      right: 265px;
      top: 5px;
    }
    .real input[type="email"] {
      font-size: 10px;
    }
    .td-bg {
      color: $mainColor;
      font-size: 40px;
    }
    .sev-item {
      margin: 35px;
    }
    .sev-item h6 {
      margin: 0px 7px;
      line-height: 23px;
      font-size: 14px;
    }
    .sev-item img {
      width: 25px;
    }
    .card-body {
      padding: 13px;
    }
    .margin-t {
      margin-top: 30px;
    }
    .course-link {
      text-decoration: none;
      color: $mainColor;
      font-family: $fontFamilyYekanBakh;
      font-size: 18px;
      margin-left: 10px;
    }
    .swiper {
      width: 100%;
      height: 320px;
    }
    .swiper-2 {
      width: 100%;
      height: auto;
    }
    .swiper-3 {
      width: 100%;
      height: auto;
    }
    .swiper-4 {
      width: 100%;
      height: 600px;
      background: $mainColor;
      border-radius: 10px;
      margin-bottom: 100px;
      padding-left: 2px !important;
      padding-right: 5px !important;
      
    }
    .slide-size {
      width: 43% !important;
    }
    .card-detail p {
      padding: 0px 100px;
      text-align: $TextJustify;
      color: $cardDetail;
    }
  
  }  
@media all and (min-width:1024px) and (max-width:1199.99px) {
    .margin-top-2 {
      margin-top: 100px;
    }
    .margin-404 {
      margin-top: 140px;
    }
    .green-txt {
      color: $greenColor;
      font-size: 14px;
    }
    .del-fs {
      font-size: 10px;
    }
    .nav-item {
      display: $DisBlock;
    }
    h3 {
      font-size: 20px !important;
      text-align: $TextRight;
    }
    h1 {
      font-family: $fontFamilyPlasma;
      text-align: $TextRight;
      font-size: 40px;
    }
    .text-c {
      text-align: $TextRight;
      margin-top: 20px;
    }
    .developer img {
      width: 430px;
      margin: $marginAuto;
    }
    .comm-img img {
      width: 120px;
      height: 120px;
    }
    .comm-text h4 , .comm-text h6 {
      font-size: 16px;
    }
    .social i {
      margin: 0px 3px;
      padding: 5px;
      font-size: 14px;
    }
    .btn-ab {
      position: absolute;
      right: 140px;
      top: 5px;
    }
    .real input[type="email"] {
      font-size: 10px;
    }
    .td-bg {
      color: $mainColor;
      font-size: 50px;
    }
    .sev-item h6 {
      margin: 0px 7px;
      line-height: 23px;
      font-size: 14px;
    }
    .sev-item img {
      width: 25px;
    }
    .card-body {
      padding: 13px;
    }
    .margin-t {
      margin-top: 30px;
    }
    .mar-t {
      margin:auto 0px ;
    }
    .course-link {
      text-decoration: none;
      color: $mainColor;
      font-family: $fontFamilyYekanBakh;
      font-size: 20px;
      margin-left: 10px;
    }
    .swiper {
      width: 100%;
      height: 70%;
    }
    .margin-top {
      margin-top: 110px;
    }
    .mini-banner-margin {
      margin-top: 40px;
    }
    .swiper-2 {
      width: 100%;
      height: auto;
    }
    .swiper-3 {
      width: 100%;
      height: auto;
    }
    .swiper-4 {
      width: 100%;
      height: 620px;
      background: $mainColor;
      border-radius: 10px;
      margin-bottom: 100px;
      padding-left: 5px !important;
      padding-right: 5px !important;
    }
    .slide-size {
      width: 40% !important;
    }
    .menu-top {
      position: fixed;
      background: $backgroundColor-2;
      z-index: 101;
    }
    .menu {
      display: $DisFlex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      position: fixed;
      background: $backgroundColor-2;
      z-index: 100;
      margin-top: 83px;
      box-shadow: $shadow;
    }
  }
@media all and (min-width: 1200px) { 
    .green-txt {
        color: $greenColor;
        font-size: 14px;
      }
    .margin-top {
      margin-top: 110px;
    }
    .margin-top-2 {
      margin-top: 100px;
    }
    .developer img {
      width: 650px;
      margin-right: 70px;
    }
    .sev-item img {
      width: 35px;
    }
    .sev-item h6 {
      margin: 0px 7px;
      line-height: 30px;
      font-size: 20px;
    }
    video {
      width: 635px;
      height: 400px;
    }
    .comm-img img {
      width: 150px;
      height: 150px;
    }
    .social i {
      margin: 0px 5px;
      width: 35px;
      height: 35px;
      padding:8px;
      color: $whiteColor;
      text-align: $TextCenter;
      line-height: 20px;
    }
    .btn-ab {
      position: absolute;
      right: 230px;
      top: 10px;
    }
    h1 {
      font-family: $fontFamilyPlasma;
      font-size: 65px;
    }
    .td-bg {
      color: $mainColor;
      font-size: 70px;
    }
    .sev-item h6 {
      margin: 0px 10px;
      line-height: 35px;
      font-size: 18px;
    }
    .margin-t {
      margin-top: 30px;
    }
    .mar-t {
      margin:auto 0px ;
    }
    .course-link {
      text-decoration: none;
      color: $mainColor;
      font-family: $fontFamilyYekanBakh;
      font-size: 20px;
      margin-left: 10px;
    }
    .swiper {
      width: 100%;
      height: 80%;
    }
    .mini-banner-margin {
      margin-top: 40px;
    }
    .swiper-2 {
      width: 100%;
      height: 450px;
    }
    .swiper-3 {
      width: 100%;
      height: 500px;
    }
    .swiper-4 {
      width: 100%;
      height: 620px;
      background: $mainColor;
      border-radius: 10px;
      margin-bottom: 100px;
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
    .slide-size {
      width: 30% !important;
    }
    .card-detail p {
      padding: 0px 100px;
      text-align: $TextJustify;
      color: $cardDetail;
    }
    .menu-top {
      position: fixed;
      background: $backgroundColor-2;
      z-index: 101;
    }
    .menu {
      display: $DisFlex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      position: fixed;
      background: $backgroundColor-2;
      z-index: 100;
      margin-top: 83px;
      box-shadow: $shadow;
    }
    .margin-404 {
      margin-top: 140px;
    }
    
  }

  body {
      margin: 0;
      padding: 0;
      font-family: $fontFamilyYekanBakh;
  }
  button {
    background-color: $mainColor !important;
  }
  button:hover {
    background-color:$buttonHover !important;
  }
  .bg-dev {
    background-color:$backgroundColor ;
  }
  
  .logo img {
    width: 30px;
    
  }
  .user-sec i{
    color: $mainColor;
    cursor:pointer;
  }
  .user-sec span{
    color: $mainColor;
    cursor:pointer;
  }
  .bg-main {
  background-color: $backgroundColor;
  }
  .card-animate:hover {
    box-shadow: $shadow-2;
    transform: scale(1.01);
    transition: all 0.5s;
  }
  .footer-pattern  {
    background: url(../image/footer-pattern.png)  no-repeat center center ;
    background-size: cover;
  }
  #cart-count{
    background-color:$backgroundColor-3 !important;
    color: $whiteColor;
    width: 20px;
    height: 20px;
    padding: 7px;
    line-height: 9px;
    font-size: 12px;
    position: absolute;
    left: 82px;
    top: 0px;
    border-radius: 50px;
  }
  .cr {
    width: 200px;
    padding: 16px;
    position: absolute;
    text-align: $TextCenter;
    color: $whiteColor-2;
  }
  .cr-top    { top: 23px; }
  .cr-bottom { bottom: 25px; }
  .cr-left   { left: -50px; }
  .cr-right  { right: -50px; }
  
  .cr-top.cr-left,.cr-bottom.cr-right {
    transform: rotate(-45deg);
  }
  .cr-top.cr-right, .cr-bottom.cr-left {
    transform: rotate(45deg);
  }
  .cr-red { 
    background-color: $mainColor;
  }
  .cr-suggest { 
    background-color: $backgroundColor-4;
  }
  .search {
    width: 60%;
    position: relative;
  }
  .search input {
    height: 50px;
    text-align: $TextLeft;
    font-family: $fontFamilyYekanBakh;
    border: 2px solid $borderColor;
  }
  .search input:focus{
    box-shadow: none;
    border: 2px solid $mainColor;
  }
  .search button{
    position: absolute;
    top: 5px;
    right: 5px;
    font-family: $fontFamilyYekanBakh;
    height: 41px;
    width: 60px !important;
    background: $mainColor;
  }
  h2 {
    font-family: $fontFamilyYekanbakhBold;
    text-align: $TextCenter;
  }
  .card-b-1 {
    position: relative;
    background-color: $backgroundColor;
    display: $DisInBlock;
    border-radius: 50%;
    height: 110px;
    width: 110px;
  }
  .card h5 {
    font-family: $fontFamilyYekanbakhBold;
  }
  .image-card {
    position: absolute;
    top: 22px;
    right: 18px;
  }
  .image-card-1 {
    position: absolute;
    top: 26px;
    right: 22px;
  }
  .image-card-2 {
    position: absolute;
    top: 28px;
    right: 25px;
  }
  .image-card-3 {
    position: absolute;
    top: 30px;
    right: 14px;
  }
  .just {
    text-align: $TextJustify;
  }
  .select-item {
    display: $DisFlex;
    margin: 0px 10px;
  }
  .course-title h2 {
    display: $DisFlex;
    justify-content: space-between;
  }
  .course-span i {
    font-size: 18px;
    color: $mainColor;
  }
  .course-title span:hover{
    color:$courseTitle;
  }
  .card-body-flex {
    display: $DisFlex;
    align-items: center;
    justify-content: space-between;
  }
  .card-body-item a , .card-body-item i {
    font-size: 13px;
  }
  .card-body-item a , .card-body-item i , .card-body-item span {
    margin: 0px 5px;
    line-height: 20px;
    color: $grayColor;
  }
  .card-footer-item {
    color: $grayColor;
    margin: 0px 5px;
  }
  .front-tag {
    background-color: $mainColor;
    color: $whiteColor;
    padding: 3px 8px;
    font-size: 12px;
  }
  .card-img-top img {
    transition: all 1s;
  }
  .mt-com {
    margin-top: 68px;
  }
  .pagi {
    margin-top: 20px;
    display: $DisFlex;
    align-items: center;
    justify-content: center;
  } 
  .page-item {
    margin: 0px 15px;
  }
  .page-item a {
    border-radius: 50px !important;
    background-color: transparent;
    border: 1px solid ;
    margin-bottom: 20px;
  }
  .bg-footer {
    background-color: $mainColor;
  }
  .real {
    position: relative;
  }
  
  .social i:hover {
    background-color: $backgroundColor-2;
    color: $mainColor !important;
  }
  .footer-link a {
    color: $whiteColor;
    cursor: pointer;
    margin: 10px 0px;
  }
  .footer-link a:hover {
    color: $secondColor;
  }
  .image-404 {
    width: 140vh;
    margin: $marginAuto;
  } 
  
  
  